NEXT_PUBLIC_SITE_URL=https://atz-pages.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://odzfdwzzocrumfduzviv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kemZkd3p6b2NydW1mZHV6dml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MDc3NjUsImV4cCI6MjA5NzE4Mzc2NX0.rlGFu6yQH91l1stSfY99elEjbXf5Uls-q-QE1Nbvb3w
NEXT_PUBLIC_ENABLE_GPT=false
NEXT_PUBLIC_GAM_NETWORK_CODE=1234567
NEXT_PUBLIC_GAM_AD_UNIT_PREFIX=/1234567/atz
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
AD_METADATA_ORIGIN=
